In [1]:
import pandas as pd

In [2]:
login_data = pd.read_csv('login_data.csv')
login_data

                 login_at   id
0     2020-07-01 00:03:46  183
1     2020-07-01 00:05:07  259
2     2020-07-01 00:08:58   21
3     2020-07-01 00:20:37  305
4     2020-07-01 00:24:43  216
...                   ...  ...
4995  2020-07-31 23:36:02   27
4996  2020-07-31 23:36:04  121
4997  2020-07-31 23:38:44  367
4998  2020-07-31 23:48:33  383
4999  2020-07-31 23:56:55  203

[5000 rows x 2 columns]